<div container-days>
  <ul class="day-list">
    <li class="day-item">Teraz</li>
    <li class="day-item">Dnes</li>
    <li class="day-item">Zajtra</li>
    <li class="day-item">Tyzden</li>
    <li class="day-item">Archiv</li>
  </ul>
</div>

<div container-body>
  <div container-menu-left>
    <ul>
      <li>Filtre</li>
      <li>Zaner</li>
      <li>Dlzka</li>
      <li>Rok</li>
      <li>Reziser</li>
      <li>Tv Stanice</li>
    </ul>
  </div>
  <div class="container-program-right">
    <div class="container-program-row">
      <div class="program-item">#1 Program</div>
      <div class="program-item">#2 Program</div>
    </div>
    <div class="container-program-row">
      <div class="program-item">#3 Program</div>
      <div class="program-item">#4 Program</div>
    </div>
  </div>
</div>

<div class="center hero-unit">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th width="12%">Tv Stanica</th>
      <th width="20%">Nazov</th>
      <th width="5%">Zaciatok</th>
      <th width="5%">Koniec</th>
      <th width="5%">Rating</th>
      <th width="5%">Rok</th>
      <th width="5%">Dlzka</th>
      <th width="38%">Zaner</th>
    </tr>
    </thead>

    <tbody>
    <% @programs.each do |p| %>
        <tr>
          <td><%= p.channel.name %></td>
          <td><%= p.movie.name %></td>
          <td><%= p.scheduled_time_start.strftime("%H:%M") %></td>
          <td><%= p.scheduled_time_end.strftime("%H:%M") %></td>
          <td><%= p.movie.rating %></td>
          <td><%= p.movie.year %></td>
          <td><%= p.movie.duration %></td>
          <td>
            <% genres = Array.new %>
            <ul class="list-inline">
              <% p.movie.movie_genres.each do |m_genre| %>
                  <li><%= m_genre.genre.genre_type %></li>
              <% end %>
            </ul>
          </td>

        </tr>
    <% end %>
    </table>
</div>
