<div class="container-menu-left">
  <ul class="menu-list">
    <li class="menu-left-item">Filter</li>
    <li class="menu-left-item">Žáner</li>
    <li class="menu-left-item">Dĺžka</li>
    <li class="menu-left-item">Rok</li>
    <li class="menu-left-item">Režisér</li>
    <li class="menu-left-item">Tv stanice</li>
  </ul>
</div>

<div class="container-body">
  <div class="container-days">
    <ul class="day-list">
      <li class="day-item now"><%= link_to 'Teraz', root_path(program_time: 'now') %></li>
      <!--<li class="day-item today"> %= link_to 'Parse', parse_programs_path, remote: true %> Dnes</li>-->
      <!--<li class="day-item today">Dnes</li>-->
      <!--<li class="day-item"> link_to 'Zajtra', root_path(day: Date.today + 1.day) ><!--<input class="tomorow" onclick="Program.tomorow" type="button" value="--><!--Zajtra</li>-->
      <!--<li class="day-item today">%= link_to 'Dnes', root_path(day: Date.today) %></li>-->
      <li class="day-item today"><%= link_to 'Dnes', root_path(program_time: 'today') %></li>
      <li class="day-item tomorow"><%= link_to 'Zajtra', root_path(program_time: 'tomorow') %></li>
      <li class="day-item tomorow"><%= link_to 'Týždeň', root_path(program_time: 'week') %></li>
      <li class="day-item tomorow"><%= link_to 'Archív', root_path(program_time: 'archive') %></li>
    </ul>
  </div>

  <div class="programs">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th width="20%">Názov</th>
        <th width="5%">Hodnotenie</th>
        <th width="5%">Začiatok</th>
        <th width="5%">Koniec</th>
        <th width="8%">Deň</th>
        <th width="9%">Tv stanica</th>
        <th width="38%">Žáner</th>
        <th width="5%">Rok</th>
      </tr>
      </thead>

      <tbody>
      <% @programs.each do |p| %>
          <tr>
            <td><%= p.movie.name %></td>
            <td><%= p.movie.rating %></td>
            <td><%= p.scheduled_time_start.strftime("%H:%M") %></td>
            <td><%= p.scheduled_time_end.strftime("%H:%M") %></td>
            <td><%= p.day.strftime("%d.%m.%Y")%></td>
            <td><%= p.channel.name %></td>
            <td>
              <% genres = Array.new %>
              <ul class="list-inline">
                <% p.movie.movie_genres.each do |m_genre| %>
                    <li><%= m_genre.genre.genre_type %></li>
                <% end %>
              </ul>
            </td>
            <td><%= p.movie.year %></td>
          </tr>
      <% end %>
      </table>
  </div>
</div>
