<div class="container-days">
  <ul class="day-list">
    <li class="day-item now">Teraz</li>
    <li class="day-item today">Dnes</li>
    <li class="day-item"><!--<input class="tomorow" onclick="Program.tomorow" type="button" value="-->Zajtra"/></li>
    <li class="day-item week">Týždeň</li>
    <li class="day-item archive">Archív</li>
  </ul>
</div>

<div class="container-body">
  <div class="container-menu-left">
    <ul class="menu-list">
      <li class="menu-left-item">Filter</li>
      <li class="menu-left-item">Žáner</li>
      <li class="menu-left-item">Dĺžka</li>
      <li class="menu-left-item">Rok</li>
      <li class="menu-left-item">Režisér</li>
      <li class="menu-left-item">Tv stanice</li>
    </ul>
  </div>

  <div class="programs">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th width="12%">Tv stanica</th>
        <th width="20%">Názov</th>
        <th width="5%">Začiatok</th>
        <th width="5%">Koniec</th>
        <th width="5%">Rating</th>
        <th width="5%">Rok</th>
        <th width="5%">Dĺžka</th>
        <th width="38%">Žáner</th>
      </tr>
      </thead>

      <tbody>
      <% @programs.each do |p| %>
          <tr>
            <td><%= p.channel.name %></td>
            <td><%= p.movie.name %></td>
            <td><%= p.scheduled_time_start.strftime("%H:%M") %></td>
            <td><%= p.scheduled_time_end.strftime("%H:%M") %></td>
            <td><%= p.movie.rating %></td>
            <td><%= p.movie.year %></td>
            <td><%= p.movie.duration %></td>
            <td>
              <% genres = Array.new %>
              <ul class="list-inline">
                <% p.movie.movie_genres.each do |m_genre| %>
                    <li><%= m_genre.genre.genre_type %></li>
                <% end %>
              </ul>
            </td>

          </tr>
      <% end %>
      </table>
  </div>
</div>
